.book-container {
  background-color: #f1f1f1;
  margin: 15px;
  max-width: 260px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.book-container .image-container {
  width: 140px;
  height: 207px;
  background-size: cover;
  margin: 20px auto;
}

.book-container .book-info {
  float: left;
  padding: 0 0 30px 0;
  width: 65%;
}

.book-container .book-info div {
  text-align: left;
}

.book-container .book-info .title {
  font-size: 125%;
  padding-left: 10px;
  padding-right: 10px;
}

.book-container .book-info .author {
  padding-left: 10px;
  padding-right: 10px;
}

.book-container .action {
  float: right;
  width: 35%;
}

.book-container .price {
  color: #3476ba;
  font-size: 125%;
  padding: 0 10px 0 0;
  text-align: right;
}

.book-container .cart {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff url(../../../images/cart.png) center no-repeat;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin: 0;
  cursor: pointer;
}

/*============= Mobile styles: ======================*/
@media all and (min-width: 1200px) {
  .book-container {
    width: 260px;
  }
}
