/* Reset: */
body {
  margin: 0;
  padding: 0;
}

div,
span,
a {
  box-sizing: border-box;
}

main,
fieldset,
form,
label,
caption,
article,
aside,
canvas,
figure,
figcaption,
header,
address,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

nav,
footer {
  box-sizing: border-box;
}

table,
input,
button,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

/*============= General styles: ======================*/
body {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 85%;
  text-align: center;
}

header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  max-width: 1200px;
  margin: 30px auto 0 auto;
}

main {
  padding: 0 20px;
}

h1 {
  font-weight: bold;
  font-size: 125%;
  clear: both;
  border-bottom: 2px dotted #acacac;
  margin: 20px 0;
  text-align: left;
}

h3 {
  font-weight: normal;
  font-size: 125%;
  clear: both;
  border-bottom: 2px dotted #acacac;
  margin: 20px 0;
  text-align: left;
}

.button,
button {
  border: 0;
  margin: 0;
  padding: 5px 20px;
  background-color: #8ab83e;
  color: #fff;
  font-size: 130%;
  border-radius: 20px;
  display: inline-block;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  cursor: pointer;
}

.button:hover,
button:hover {
  background-color: #6d9131;
}

.info-text {
  text-align: left;
  font-size: 125%;
}

.error {
  color: red;
}
