/* Reset: */
body {
  margin: 0;
  padding: 0;
}

div,
span,
a {
  box-sizing: border-box;
}

main,
fieldset,
form,
label,
caption,
article,
aside,
canvas,
figure,
figcaption,
header,
address,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

nav,
footer {
  box-sizing: border-box;
}

table,
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

/*============= General styles: ======================*/
body {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 85%;
  text-align: center;
}

header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  max-width: 1200px;
  margin: 30px auto 0 auto;
}

main {
  padding: 0 20px;
}

h1 {
  font-weight: bold;
  font-size: 125%;
  clear: both;
  border-bottom: 2px dotted #acacac;
  margin: 20px 0;
  text-align: left;
}

h3 {
  font-weight: normal;
  font-size: 125%;
  clear: both;
  border-bottom: 2px dotted #acacac;
  margin: 20px 0;
  text-align: left;
}

h3 b {
  color: #8ab83e;
}

.button,
button {
  border: 0;
  margin: 0;
  padding: 5px 20px;
  background-color: #8ab83e;
  border: 2px solid #8ab83e;
  color: #fff;
  font-size: 130%;
  border-radius: 20px;
  display: inline-block;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  cursor: pointer;
  outline: 0;
}

.button:hover,
button:hover {
  background-color: #6d9131;
  border: 2px solid #6d9131;
}

.button:active,
button:active {
  background-color: #566d30;
  border: 2px solid #566d30;
}

.button.second-level {
  border: 2px solid #8ab83e;
  background: none;
  color: #8ab83e;
  box-sizing: border-box;
  text-decoration: none;
  margin-left: 20px;
}

.button.second-level:hover {
  border: 2px solid #6d9131;
  color: #6d9131;
}

.button.second-level:active {
  border: 2px solid #566d30;
  color: #566d30;
}

.info-text {
  text-align: left;
  font-size: 125%;
}

.error {
  color: red;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='number'],
select {
  width: 300px;
  background-color: #fff;
  border: 1px solid #b9bdbf;
  height: 35px;
  padding: 5px;
  outline: 0;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 10px 0 rgba(113, 113, 113, 0.4);
}

textarea {
  width: 300px;
  background-color: #fff;
  border: 1px solid #b9bdbf;
  height: 100px;
  padding: 5px;
  outline: 0;
}

.button-container {
  border-top: 2px dotted #b9bdbf;
  margin-top: 20px;
  padding-top: 20px;
}

h3 + p {
  text-align: left;
}
